[core]
	editor = vim
	quotepath = false
    pager = delta
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log -p
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[credential]
	helper = cache --timeout=3600
[push]
	default = simple
[github]
    user = {{ (index (lastpass "github_token") 0).username | quote }}
    token = {{ (index (lastpass "github_token") 0).password | quote }}
[diff]
	tool = meld
[difftool]
	prompt = false
[color]
	ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
[user]
    name = {{ .contact.work.name }}
    email = {{ .contact.work.email }}
[includeIf "gitdir:~/projects/arachnitech/"]
  path = ~/.gitconfig-arachnitech

[includeIf "gitdir:~/projects/franklin/"]
  path = ~/.gitconfig-franklin
[init]
	defaultBranch = main
[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended

[interactive]
    diffFilter = delta --color-only
